<%= form_for(@home_owner) do |f| %>
  <% if @home_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home_owner.errors.count, "error") %> prohibited this home_owner from being saved:</h2>

      <ul>
      <% @home_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions waves-effect waves-light btn">
    <%= f.submit %>
  </div>
<% end %>
