<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @home_owner_show.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @home_owner_show.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @home_owner_show.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @home_owner_show.phone %>
</p>

<div class="modal-action modal-close waves-effect waves-green btn-flat" onclick="back('#show_ho', '#ho_body')">
    <span>Back</span>
</div>
