<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @home_owner.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @home_owner.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @home_owner.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @home_owner.phone %>
</p>

<%= link_to 'Edit', edit_home_owner_path(@home_owner) %> |
<%= link_to 'Back', home_owners_path %>
