<%= form_for(@issue) do |f| %>
<section id="issue_form" class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m8 offset-m2 l8 offset-l2 ">
       <div class="card">
         <div class="card-content center-align container"> 
          
            
            <% if @issue.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

                <ul>
                <% @issue.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div id='tests' class="row">
              <div class="col s12">
                <% if @issue_date.present? %>
                  <p class="center-align"><%= @issue_date.html_safe %><p>
                <% end %>
              </div>
            </div>
            <div class="row">
              <%=f.label :lat %>
                <%=f.label :lng %>
              <div class="input-field col s12">
                <% if @addresses.present? %>
                <%=hidden_field_tag :lat %>
                <%=hidden_field_tag :lng %>


                <%= f.collection_select(:address_id, @addresses.near(@lng_lat[0], @lng_lat[1], 50) , :id, :full_address, {prompt: "Address"}, {class: "select-two select-two-style", id: "issue_address"}) %>
                <!-- <label for= "issue_address">Address</label> -->

                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
              <% if @issue_categories.present? %>
                <%= f.collection_select(:issue_category_id, @issue_categories, :id, :name, {prompt: "Issue Category"}, {class: "select-two select-two-style", id: "issue_cat"}) %>
                <!-- <label for= "issue_cat">Issue Category</label> -->
              <% end %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                
                <%= f.text_area :note, id: "issue_note", class: "materialize-textarea" %>
                <%= f.label :note, for: "issue_note"%>
              </div>
            </div>
            <div class="row">
              <div class=" file-field input-field gallery_picture">
                <input class="col s8 file-path validate center-align" type="text" accept="image/*"/>
                <div class="col s4 btn waves-effect waves-light">
                  <span>Add Picture</span>
                  <%= f.file_field :picture, id: "issue_picture" %>
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col s12">
                <div class=" actions waves-effect waves-light btn"  href='#check_issue'>
                  <%= f.submit 'Create Issue' %>
                </div>
              </div>
        
         </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @issue_show.present? %>
  <div id="check_issue" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row">
        <div class="col s12 center-align">
        <p>This issue could be a duplicate.</p>
        </div>
      </div> 
      <%= render 'issues/show', id: @issue_show.id %>
    </div> 
    <div class="modal-footer">
      <div class="col s6 center-align">
        <div class="modal-action modal-close waves-effect waves-green btn-flat" onclick="close_mod()">
          <span>Back</span>
        </div>
      </div>
      <div class='col s6 center-align'>
        <div class='modal-action modal-close waves-effect waves-green btn-flat'>
          <%= f.submit 'Create Anyway' %>
        </div>
      </div>
    </div>
  </div>
 <script type="text/javascript">
  $('#check_issue').openModal();
  
  // navigator.geolocation.getCurrentPosition(GeoL);
  // function GeoL(position) {
  //    document.getElementById('lat').value = position.coords.latitude;
  //    document.getElementById('lng').value = position.coords.longitude;
  // }
 


 </script>

<% end %>
<% end %>
