
<section id="issue_show" class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 ">
       <div class="card">
         <div class="card-content center-align"> 
          
            <div class="row">
              <div class="col s12">
                <label class="active" for="date2">Issue created on:</label>
                <p class="center-align" id="date2"><%= @issue_show.date.strftime('%B %e, %Y') %><p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <label class="active" for="status2">Issue status:</label>
                <p class="center-align" id="status2"><%= @issue.issue_status %>
                <p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <label class="active" for="address2">Address</label>
                <p class="center-align" id="address2"><%= @issue_show.address.full_address %><p>
                
              </div>
            </div>
             <div class="row">
              <div class="col s12">
                <label class="active" for="name2">Homeowner</label>
                <p class="center-align" id="name2"><%= @issue_show.home_owner.fullname %><p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <label class="active" for="issuecat2">Issue Category</label>
                <p class="center-align" id="issuecat2"><%= @issue_show.issue_category.name %><p>
              </div>
            </div>
           
            <div class="row">
              <div class="col s12">
               <label class="active" for="issue_note2">Note</label>
                <p class="center-align" id="issue_note2"><%= @issue_show.note.html_safe %><p>
            	
              </div>
            </div>
            <% if @issue_show.picture.present? %>
              <div class="row">
                <div class="input-field col s12">
              	 <img class ="responsive-img"  id="issue_picture2" src = "<%= @issue_show.picture.url %>">
                  <!-- <label class="picture" for="issue_picture2">Picture</label> -->
                </div>
              </div>
            <% end %>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>

