  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
  <script type='text/javascript'>
    // build_map_all(<%=raw @hash.to_json %>);
  </script>
<section id='issue-index-page'>
  <div class="container">

  <!-- expandable map area not 100% -->
  <!-- <div id="all-add-maps" style='width: auto; height:500px;'></div> -->
 <!--  <div><a class='waves-effect waves-purple btn-flat' onclick='expand()'>Show Map</div> -->
  <table id='all-issues' class='responsive-table highlight'>
    <thead>
      <tr>
        <th><%= check_box_tag "select-all-issues", "All Issues", false, onclick: 'selectAll("#select-all-issues", "#all-issues")' %>
                <%= label_tag "select-all-issues", "All Issues", class: 'black-text'  %></th>>
        <th data-field="date">Created</th>
        <th data-field="status">Status</th>
        <th data-field="address">Address</th>
        <th data-field="address">Home Owner</th>
        <th data-field="category">Category</th>
        <th data-field="note">Note</th>
        <th data-field="close">Close</th>
        <th data-field="show">Show/delete</th>
      </tr>
    </thead>


    <tbody>
      <% @issues.each do |issue| %>
        <% a="issues_to_route[#{issue.id}]" %>
        <tr>
          <td><%= check_box_tag a, issue.id %><%= label_tag a, '', class: 'white-text' %></td>
          <td><%= issue.date.strftime('%m/%d/%Y') %></td>
          <td><%= issue.issue_status_category.name %></td>
          <td><%= issue.address.short_address %></td>
          <td><%= issue.address.home_owner.lastname %></td>
          <td><%= issue.issue_category.name %></td>
          <td><%= issue.note %></td>
          <td><%= button_to 'Close Issue', issue_path(id: issue.id, params: {issue:{issue_status_category_id: 5}}), method: :put, data: {confirm: 'This will resolve the issue. Are you sure?' }, class:'waves-effect waves-purple btn-flat' %></td>
          <td><%= link_to 'Show', issue %>|<%= link_to 'Edit', edit_issue_path(issue) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</section>

<!-- modal show section -->
<% if  @issue_show.present? %>
        <div id="show_i" class="modal">
          <div class="modal-content">            
            <%= render 'issues/show', id: @issue_show.id %>            
          </div>
        </div>
        <script type="text/javascript">
            $('#show_i').openModal();
        </script>
<% end %>
