
<h1>Listing Issues</h1>

<table>
  <thead>
    <tr>
        <th data-field="date">Created</th>
        <th data-field="address">Address</th>
        <th data-field="category">Category</th>
        <th data-field="note">Note</th>
        <th data-field="note">Show/delete</th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr >
      <td><%= issue.date.strftime('%B %e, %Y') %></td>
        <td><%= issue.address.full_address %></td>
        <td><%= issue.issue_category.name %></td>
        <td><%= issue.note %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
