
<section id='issue-index-page'>
  <div class="container">
  <!-- expandable map area not 100% -->
  <!--       <div id="all-add-maps" style='width: auto; height:500px;'></div>
  <div><a class='waves-effect waves-purple btn-flat' onclick='expand()'>Show Map</div> -->
  <table class='responsive-table highlight'>
    <thead>
      <tr>
        <th></th>
        <th data-field="date">Created</th>
        <th data-field="status">Status</th>
        <th data-field="address">Address</th>
        <th data-field="category">Category</th>
        <th data-field="note">Note</th>
        <th data-field="note">Show/delete</th>
      </tr>
    </thead>


    <tbody>
      <% @issues.each do |issue| %>
        <tr >
        <td><%= button_to 'Close Issue', issue_path(id: issue.id, params: {issue:{resolved: true}}), method: :put, data: {confirm: 'This will resolve the issue. Are you sure?' }, class:'waves-effect waves-purple btn-flat' %></td>
        <td><%= issue.date.strftime('%B %e, %Y') %></td>
          <td><%= issue.issue_status %></td>
          <td><%= issue.address.full_address %></td>
          <td><%= issue.issue_category.name %></td>
          <td><%= issue.note %></td>
          <td><%= link_to 'Show', issue %></td>
          <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</section>

<!-- modal show section -->
<% if  @issue_show.present? %>
        <div id="show_i" class="modal">
          <div class="modal-content">            
            <%= render 'issues/show', id: @issue_show.id %>            
          </div>
        </div>
        <script type="text/javascript">
            $('#show_i').openModal();
        </script>
<% end %>
