<section id="all_issues" class="container">
  <div class="section">
<h4>Issues</h4>

<table class="responsive-table highlight">
  <thead>
    <tr>
        <th data-field="date">Created</th>
        <th data-field="status">Status</th>
        <th data-field="address">Address</th>
        <th data-field="category">Category</th>
        <th data-field="note">Note</th>
        <th data-field="note">Show/delete</th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr class="clickable-row" data-id='<%= issue.id %>' data-link='issues'>
      <td><%= issue.date.strftime('%B %e, %Y') %></td>
        <td><%= issue.issue_status %></td>
        <td><%= issue.address.full_address %></td>
        <td><%= issue.issue_category.name %></td>
        <td><%= issue.note %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</section>

<!-- modal show section -->
<% if  @issue_show.present? %>
        <div id="show_i" class="modal">
          <div class="modal-content">            
            <%= render 'issues/show', id: @issue_show.id %>            
          </div>
        </div>
        <script type="text/javascript">
            $('#show_i').openModal();
        </script>
<% end %>
