<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @geo.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @geo.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @geo.longitude %>
</p>

<%= link_to 'Edit', edit_geo_path(@geo) %> |
<%= link_to 'Back', geos_path %>
