
<% if issue_category.id? %>
  <!-- Button trigger modal -->
  <button class="btn btn-link" data-toggle="modal" data-target="#issue_category-<%= issue_category.id %>-name">
    Show
  </button>



<!-- Modal -->
  <div class="modal fade" id="issue_category-<%= issue_category.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="issue_category-<%= issue_category.id %>-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="issue_category-<%= issue_category.id %>-label">Issue Category</h4>
        </div>
        <div class="modal-body">
          <%= issue_category.name %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>