<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @address.number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>
<% if @address.home_owner.present? %>
<p>
  <strong>Homeowner:</strong>
  <%= @address.home_owner.fullname %>
</p>
<% end %>
