<!-- Header and Navbar -->
	<header>
		<!-- Side Navbar for user not signed in -->
      	<% if not user_signed_in? %>
      		<ul class="side-nav fixed hide-on-med-and-down section table-of-contents">
				<li><a href="#page-top" class="brand-logo"><i>Logo</i></a></li>
	    		<li><a class="waves-effect waves-purple" href="#login">Log in</a></li>
	    		<li><a class="waves-effect waves-purple" href="#about">About</a></li>
	    		<li><a class="waves-effect waves-purple" href="#contact">Contact</a></li>
	  		</ul>
	  		<ul id="slide-out" class="side-nav section table-of-contents">
	  			<li><a href="#page-top" class="brand-logo"><i>Logo</i></a></li>
	   			<li><a class="waves-effect waves-purple" href="#login">Log on</a></li>
	    		<li><a class="waves-effect waves-purple" href="#about">About</a></li>
	    		<li><a class="waves-effect waves-purple" href="#contact">Contact</a></li>
	 		</ul>
      	<% end %>

      	<!-- Side Navbar for user signed in -->
      	<% if user_signed_in? %>
			<ul class="side-nav fixed hide-on-med-and-down">
				<li><a href="#!" class="brand-logo"> <img src= "/assets/harbor_logo.jpg" alt="harbortown logo" class="circle responsive-img"> </a></li>
	    		<li><%=link_to 'New Issue', new_issue_path(), class: "waves-effect waves-purple"%></li>
	    		<li><%=link_to 'All Issues',issues_path(), class: "waves-effect waves-purple"%></li>
	    		<li><%=link_to 'Admin', admin_path(current_user), class: "waves-effect waves-purple"%></li>
	    		<li><%=link_to 'Routes', admin_path(current_user), class: "waves-effect waves-purple"%></li>
	    		<li><%=link_to 'Edit Profile', edit_user_registration_path(current_user), class: "waves-effect waves-purple"%></li>
	    		<li><%=link_to 'Sign out', destroy_user_session_path(), method: :delete, class: "waves-effect waves-purple"%></li>
	  		</ul>
	  		<ul id="slide-out" class="side-nav">
	   			<li><a href="#!" class="brand-logo"><i>Logo</i></a></li>
	   			<li><%=link_to 'New Issue', new_issue_url, class: "waves-effect waves-purple"%></li>
	    		<li><%=link_to 'All Issues',issues_path(), class: "waves-effect waves-purple"%></li>
	    		<li><%=link_to 'Admin', admin_path(current_user), class: "waves-effect waves-purple"%></li>
	    		<li><%=link_to 'Routes', admin_path(current_user), class: "waves-effect waves-purple"%></li>	
	    		<li><%=link_to 'Edit Profile', edit_user_registration_path(current_user), class: "waves-effect waves-purple"%></li>    	
	    		<li><%=link_to 'Sign out', destroy_user_session_path(), method: :delete, class: "waves-effect waves-purple"%></li>
	 		</ul>
 		<% end %>

 		<!-- Menu button -->
 		<div class="container">
  			<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="small mdi-navigation-menu"></i></a>
  		</div>

    </header>