<!DOCTYPE html>
<html>
<head>
  <title>HOA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body class='<%= controller_name %>'>
	
	<%= render 'layouts/navbar' %>
   
    <!-- Content -->
    <main>

    	<!-- Flash notification and page top -->
    	
		<% if flash[:notice] %>
				<section class="container" id="page-top">
					<div class="row">
						<div class="col s12 m9 l9"> 
			 			<p class="alert alert-info"><%=flash[:notice] %></p>
			 		</div>
					</div>
			</section> 
			<% end %>

		 <% if flash[:alert] %>
			 <section class="container" id="page-top">
					<div class="row">
						<div class="col s12 m9 l9"> 
						<p class="alert alert-danger"><%= flash[:alert] %></p> 
					</div>
					</div>
			</section>  
		<% end %> 	
			
		<!-- Individual Page Templates Area -->

		<div id='yeild_area'>
  		<%= yield %>
  		</div>

     	
    </main>

</body>
</html>
